.Deals-Image{
width: 100%;
position: relative;
height: 350px;
}
.Deals-Header{
position: relative;
bottom: 350px;
text-align: center;
}
.Deals-Text{
    font-size: 20px;
    position: relative;
    bottom: 350px;
    text-align: center;
}
.Featured{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flexbox{
    width: 100%;
}
.box1{
    background-color: rgba(255, 255, 255, 0.4);
   width: 100vw;
   height: 350px;

}
.box2{
    background-color: rgba(255, 255, 255, 0.4);
    width: 100vw;
    height: 350px;
    
   
}
.box3{
    background-color: rgba(255, 255, 255, 0.4);
    width: 100vw;
    height: 350px;


}
.Deals-Button{
    background-color: #FFD700;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    bottom: 300px;
    margin: 0px 1076px;
}
.featured-text{
    font-size: 25px;
    text-align: center;
}
.featured-header{
    font-size: 30px;
    text-align: center;
}

