
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  .vermont-image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    filter: brightness(0.7);
  }
  
  .hero-header {
    
    position: absolute; /* Position the text on top of the image */
    top: 20%; /* Vertically center */
    left: 50%; /* Horizontally center */
    transform: translate(-50%, -50%); /* Adjust centering for exact middle */
    font-size: 50px;
    color: white; /* Adjust the text color for visibility */
    text-align: center;
    z-index: 10; /* Ensure the text is above the image */
  }
  .hero-text{
    position: absolute; /* Position the text on top of the image */
    top: 27%; /* Vertically center */
    left: 50%; /* Horizontally center */
    transform: translate(-50%, -50%); /* Adjust centering for exact middle */
    font-size: 35px;
    color: white; /* Adjust the text color for visibility */
    text-align: center;
    z-index: 10; /* Ensure the text is above the image */
  }
  .about-text{
    font-size: 20px;
    color: grey;
    padding: 10px;
    margin: 10px;
    width: 95%;
  }
  .about-text::before{
    content: "  ";
    display: inline-block;
    padding: 10px;

  }
  .about-content{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
position: relative;
bottom: 250px;    
    float: right
  }
  .Mission-Header{
    font-size: 40px;
    color: grey;
    padding: 10px;
    margin: 10px;
    width: 95%;
    text-align: center;

  }
  .about-text{
    font-size: 20px;
    color: grey;
    padding: 10px;
    margin: 10px;
    width: 95%;
  }
  