.cottonJersey{
 width: 50%;
 margin-right: 40px;
}
.layerd-text img{
    width: 100%;
    margin: 10px 0px 10px;
    margin-bottom: 40px;
    height: 300px;
    object-fit: cover;
}
.layerd-text{
padding: 150px 150px 0 150px;

}

.layerd-text .blog-box {
display: flex;
align-items: center;
width: 100%;
position: relative;
padding-bottom: 90px ;
}
.layerd-text .blog-details{
width: 50%;
margin: 0px 50px;
}
.layerd-text .blog-details a{
    color: #fffdfd;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
.layerd-text .blog-details a::after{
    content: "";
width: 50px;
height: 1px;
background-color: black;
top: 4px;
right: -60px;
}

.layerd-text .blog-details a:hover{
    color: #FFD700;
    transition: 0.3s;
}
.layerd-text .blog-box h1{
position: absolute;
top: -115px;
left: 0;
font-weight: 700;
font-size: 70px;
z-index: -9;
}
@media only screen and (max-width: 599px){
    #blog{
        padding: 100px 20px 0 20px;
    }
     #blog .blog-box{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
     }
     #blog .blog-img{
        width: 100%;
        margin-bottom: 30px;
     }
     #blog .blog-details{
        width: 100%;
        margin: 0px;
     }
}

    
